<!DOCTYPE html>
    <html>
    <head>
        <style type="text/css">
              #map { height: 500px; width: 100% }
        </style>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDzoLt1WuYFCtUk2ycGzmF199wJ6NKq7mI&libraries=visualization"></script>
    </head>
    <body>
        <h1>:)</h1>
        <div id="map" class="map"></div>
        <script>
            map = new google.maps.Map(document.getElementById('map'), {
              center: new google.maps.LatLng(10.440903, -66.851227),
              zoom: 13,
              mapTypeId: 'map'
            });

            var data = [
            {% for c in coords %}
                {location: new google.maps.LatLng({{ c[0] }}, {{ c[1] }}), weight: {{ c[2] }}},
            {% endfor %}
            ];
            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: data,
                radius: 50,
            });
            heatmap.setMap(map);
            console.log(map);
        </script>
    </body>
</html>
