<!DOCTYPE html>
    <html>
    <head>
        <style type="text/css">
              #map { height: 500px; width: 100% }
        </style>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDzoLt1WuYFCtUk2ycGzmF199wJ6NKq7mI&libraries=visualization"></script>
    </head>
    <body>
        <h1>:)</h1>
        <div id="map" class="map"></div>
        <script>
            var prev_infowindow_mymap = null;

            map = new google.maps.Map(document.getElementById('map'), {
              center: new google.maps.LatLng(10.440903, -66.851227),
              zoom: 13,
            });

            function getInfoCallback(map, content) {
                var infowindow = new google.maps.InfoWindow({content: content});
                return function(ev) {
                    if( prev_infowindow_mymap ) {
                        prev_infowindow_mymap.close();
                    }
                    prev_infowindow_mymap = infowindow;
                    infowindow.setPosition(ev.latLng);
                    infowindow.setContent(content);
                    infowindow.open(map, this);
                };
            }

            {{ markers_data|safe }}

            markers_data.forEach(function(marker_data) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(marker_data.lat, marker_data.lng),
                    map: map,
                    icon: marker_data.icon,
                    infobox: marker_data.info
                });

                if(marker_data.infobox) {
                     google.maps.event.addListener(
                             marker,
                             'click',
                             getInfoCallback(map, marker_data.infobox)
                     );
                }
            });
            var rectangle = new google.maps.Rectangle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              bounds: {
                north: {{ rect['lat']['+'] }},
                west: {{ rect['lon']['-'] }},
                south: {{ rect['lat']['-'] }},
                east: {{ rect['lon']['+'] }},
              }
            });
            console.log(map);
        </script>
    </body>
</html>
